
/*Padding pour corriger le scrolling qui cache le titre de la section */
#artiste, #presentation, #programme, #buvette, #infos, #gallerie{
    padding-top: 90px;
}

@import url('https://fonts.googleapis.com/css?family=Mina');

@font-face {
    font-family: wild;
    src: url('fonts/wild.otf')
}


/* Section Arnaud */

#navbar-fest a{
    font-family: 'Mina', sans-serif;
    font-size: 3vh;
    color: #88CC77;
}
#nav-fest a.navbar-brand {
    font-size: 5vh;
    color: rgb(255,85,0);       
    font-family: wild;
}
#nav-fest {
    background-color: black;
}

#slide-fest div.carousel-item{
    height: 900px;
}
#slide-fest div.carousel-caption h2{
    font-family:  wild;
    font-size:  23vh;   
    color: #88CC77;
    text-shadow: 2px 2px 2px black;
}
#slide-fest div.carousel-caption p {
    color: #88CC77;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
}

#slide-fest div.carousel-caption{
    top: 10em;
    bottom: auto;
}
#slide-fest div.carousel-caption a{
    background-color: #88CC77;
    color:black;
    border-color: black;
}

#presentation p.text-justify {
    font-family: 'Mina', sans-serif;
}

/* Section Thomash */

@import url('https://fonts.googleapis.com/css?family=Mina');

body{

    font-family: 'Mina', sans-serif;
    color:#757575;
}



h1 {

    color: #88CC77;


}

#artiste h1, #programme h1 {
    color: white;
    text-shadow: 2px 2px 2px black;
    }



#artiste .card{

    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 38%, rgba(255,255,255,0.06) 39%, rgba(30,27,38,0.88) 53%, rgba(30,27,38,1) 55%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 38%,rgba(255,255,255,0.06) 39%,rgba(30,27,38,0.88) 53%,rgba(30,27,38,1) 55%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 38%,rgba(255,255,255,0.06) 39%,rgba(30,27,38,0.88) 53%,rgba(30,27,38,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1e1b26',GradientType=0 ); /* IE6-9 */
        
      
          
    background-size: cover;
    z-index:1 !important;

    }


#artiste div .card {
    
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
}  

#artiste div .card-title {
    
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 2px black;
        
}

#artiste div .card-text {
    
    color:rgb(255, 255, 255);
        
}

#artiste div .btn {
    
    background-color: #ffffff00;
    color:white;
    border-color: #ffffff;
    
}



#artiste .card .card-img-top{
    
  
 

  background-size: cover;
  z-index:111 !important;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
			color-stop(0.00,  rgba(0,0,0,1)),
			color-stop(0.35,  rgba(0,0,0,1)),
			color-stop(0.50,  rgba(0,0,0,1)),
			color-stop(0.65,  rgba(0,0,0,1)),
			color-stop(0.85,  rgba(0,0,0,0.6)),
      color-stop(1.00,  rgba(0,0,0,0)));



}

#artiste .card:hover .card-img-top{
    
    transition: .5s ease;
    opacity: 1;    
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
   }

   


.background{


    background-size: cover;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
                  url("img/bkg.jpg");


}

.background-footer{
 background-color: #4e6266; 
 color: white; 
 font-family: 'Mina', sans-serif;
 }


 footer .h1{

    font-family: 'Mina', sans-serif;


 }
 
#programme ul li.titrebleu{


background-color: #77CCB0;
 }
 #programme ul li.titrevert{


background-color: #88CC77;
     }
     #programme ul li.titremarron{


background-color: #999966;
         }

#artiste .nav-pills > .active > a, .nav-pills > .active > a:hover {
            background-color: red;
        }
/* Section ziad */


/* Section Quentin */

